#top-image {
background:url('https://static.vecteezy.com/system/resources/previews/000/093/973/non_2x/vector-houses-pattern-background.jpg') -100px -100px;
width:100%;
z-index:0;
background-size: calc(100%);
filter: blur(10px) grayscale(50%);
}